.GeneralInfo {
  min-width: 500px;
  background-color:#add8e6;
  display: flex;
  flex-direction: column;
}

#gi-btn {
  border: none;
  border-radius: 0.25rem;
  align-self: flex-end;
  margin: 0.25rem;
  padding: 0.125rem;
  background-color:#79a9b9;
}

#gi-btn:active {
  background-color:#5d90a1;
}

#gi-name {
  font-size: 3.5rem;
}

#gi-email {
  font-weight: 300;
}

#gi-phone {
  font-size: 0.9rem;
}