.PracticalExperience {
  min-width: 500px;
  background-color:#e9967a;
  display: flex;
  flex-direction: column;
}

.PEWrapper {
  display: flex;
  flex-direction: column;
}

.pe-text {
  background-color: #c27257;
}

#pe-btn {
  border: none;
  border-radius: 0.25rem;
  align-self: flex-end;
  margin: 0.25rem;
  padding: 0.125rem;
  background-color:#c27257;
}

#pe-btn:active {
  background-color:#b35434;
}

#pe-cname {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem;
  max-width: 480px;
}

#pe-ptitle {
  font-weight: 300;
  margin: 0.5rem;
  max-width: 480px;
}

#pe-mtasks {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem;
  max-width: 480px;
}

#pe-datestart, #pe-dateend {
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0.5rem;
  max-width: 480px;
}