/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
/* layout */
:root {
  --primary: #1aac83;
  --primary_soft: #bde2d9;
  --error: #e7195a;
  --error_soft: #e986a6;
  --fhbackground: #c5dffd;
  --header_height: 100px;
  --footer_height: 70px;
}

body {
  background: #fff;
  margin: 0;
  font-family: "Poppins";
}

input {
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: .04em 0;
  margin: .1em .25em;
}

textarea {
  font-family: "Poppins";
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-style: solid;
}

input:focus {
  border-radius: .25em;
  border: .04em;
  border-style: solid;
  padding: 0;
}

button {
  font-weight: 600;
  padding: 1em;
  background: #fff;
  margin-left: 10px;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: var(--primary_soft);
}



/* Header */

header {
  background: var(--fhbackground);
  margin-bottom: 1rem;
  box-shadow: 0 .1rem .25rem #000000;
  height: var(--header_height);
}

header .navbar {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 2em;
}

nav button {
  background: #fff;
  margin-left: 10px;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

nav button:hover {
  background: var(--primary_soft);
}

header a {
  color: #333;
  text-decoration: none;
}

.pages{
  max-width: 700px;
  padding: 0 20px;
  margin: auto;
  min-height: calc(100vh - var(--footer_height) - var(--header_height) - 2rem);
  background-color:#f1f1f1;
}


/* Lander */

.lander-container {
  padding: 2rem;
}

.create-container {
  display: flex;
  justify-content: center;
}

.create-container>a {
  text-decoration: none;
}

.lander-span {
  background: #fff;
  margin-top: 3rem;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.lander-span:hover {
  background: var(--primary_soft);
}

.lander-text>h2 {
  display: flex;
  justify-content:space-between;
  text-align: center;
  word-spacing:.5rem;
  margin-top: 4rem;
}

.lander-text > ul {
  margin: 3rem auto 1rem;
  text-align: center;
  max-width: 20rem;
}

.lander-text>ul>li {
  margin-left: 2rem;
  text-align: left;
}

/* CVDisplay */

.cvs-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cv-display {
  width: 80%;
}

.cv-controls {
  display: flex;
  justify-content: center;
}

.cv-controls>a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color:#000;
}

.button-span {
  cursor: pointer;
  background: #fff;
  margin: 1rem 0.5rem;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 0 10px;
  border-radius: 0.5rem;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.button-span:hover {
  background-color: var(--primary_soft);
}

.reference-title-container {
  width: 100%;
  padding: 0.5rem;
}

.reference-tit-container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  gap: 3rem;
  justify-content: left;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  min-width: 550px;
  text-decoration: underline;
}

.reference-dis-container {
  display:grid;
  width: 550px;
  align-items: center;
  justify-content: left;
  grid-template-areas: 
    "rname rphone rrelation rdelete";
  grid-template-columns: 10rem 10rem 10rem;
  font-size: .75rem;
  gap: 3rem;
  padding: 0.5rem;
}

/* Add CV Page */

.title-container {
  display: flex;
  justify-content: center;
  position:absolute;
  background-color:#3f3f3f;
  color:#f1f1f1;
  width: 90vw;
  left: 5vw;
}

.title-position {
  max-width: 900px;
  min-width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.add-positioner {
  min-width: 475px;
  text-align: center;
}

.add-title>h1 {
  font-weight: 200;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 1em;
}

.address-input, .address {
  min-width: 100%;
  text-align: center;
}

.phonemail-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.tel-input, .email-input, .email, .phone {
  min-width: 50%;
  text-align: center;
}

.cv-list {
  margin: 1em 0;
  min-width: 30em;
}

.intro-container {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.name {
  font-size: 3em;
  font-weight: 500;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0;
}

.prof-title {
  font-size: 1.75em;
  font-weight: 300;
  width: 100%;
  margin-top: 0.25em;
}

.profile-input, .profile , .highlights-input, .highlights {
  margin: 0 0 1.5rem 0;
  padding: 0;
  width: 90%;
  resize: none;
  font-size: .75em;
  font-weight: 300;
}

.profile, .highlights {
  padding: 0 2em;
}

.socials-entry, .portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-input {
  text-align: center;
  width: 70%;
}

.portfolio-item {
  font-size: .85em;
  font-weight: 400;
  margin: 0.5em 0;
}

.experience-entry {
  width: 100%;
  position: relative;
}

.experience-container {
  margin: 2em 0;
}

.exp-title-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.pos-title, .school-name {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

.company-name {
  font-size: 1em;
  font-weight: 200;
  margin: 0 0 1em 0;
}

.exp-duration-container {
  width: 50%;
  display: flex;
  justify-content: end;
}

.exp-date {
  margin-left: 1em;
}

.exp-titdur-container {
  display: flex;
  justify-content: center;
}

.date-input {
  font-family: Poppins;
  font-size: .75em;
}

.add-btn {
  position:absolute;
  margin-left: 2em;
  right: -5em;
  bottom: 0;
}

.experience-entry-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.material-symbols-outlined {
  cursor: pointer;
  margin-left: 1rem;
  color: var(--error_soft);
}

.material-symbols-outlined:hover {
  color: var(--error);
}

.job-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 80%
}

.job-element {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color:#fff;
  border-radius: 1rem;
  box-shadow:.1rem .1rem .25rem #000;
  width: 100%;
}

.school-entry {
  width: 100%;
  position: relative;
}

.school-container {
  display: flex;
  width: 100%;
  margin: 2em 0;
}

.sch-duration-container, .sch-name-container {
  width: 50%;
}

.sch-duration-container {
  display: flex;
  justify-content: flex-end;
}

.sch-name-container {
  display: flex;
  flex-direction: column;
}

.sch-btn-spacer {
  width: 90%;
}

.schoolname {
  font-size: 1.75em;
  margin: 0;
}

.schoollocation, .degree {
  font-size: 1em;
}

.degree {
  font-weight: 200;
}

.school-entry-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.school-display-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0.5rem;
  background-color:#fff;
  border-radius: 1rem;
  box-shadow:.1rem .1rem .25rem #000;
  align-items: center;
  margin-bottom: 1rem;
}

.skills-entry {
  width: 100%;
  position: relative;
  margin-top: 3em;
}

.skill {
  width: 90%
}

.skills-entry-display {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  flex-wrap:wrap;
}

.skill-container {
  display: flex;
  align-items: center;
  border-radius: 1em;
  margin: .25em .5em;
  padding: 0 .5em;
  background-color: #fff;
  box-shadow:.1rem .1rem .25rem #000;
}

.display-skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.display-skill-container {
  margin: .25em .5em;
  padding: 0 .5em;
  min-width: 6em;
  text-align: center;
}

.skill-label {
  padding-left: .65em;
}

.references-entry {
  width: 100%;
  position: relative;
  margin-top: 3em;
}

.ref-name, .ref-phone, .ref-relation {
  margin: 0 1.5em;
}

.ref-name {
  grid-area: rname;
  text-align: left;
}

.ref-phone {
  grid-area: rphone;
  text-align: center;
}

.ref-relation {
  grid-area: rrelation;
  text-align: right;
}

.reference-entry-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

.references-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reference-container {
  display:grid;
  min-width: 550px;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
    "rname rphone rrelation rdelete";
  grid-template-columns: 10em 10em 10em 3em;
  font-size: .75rem;
  gap: 3rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow:.1rem .1rem .25rem #000;
  padding: 0.5rem;
}

/* Login Page */
.login, .signup {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  background:#fff;
  padding: 2em;
}

.login input, .signup input {
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 1px;
  width: 100%;
}


/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footer_height);
  background-color: var(--fhbackground);
  margin-top: 1rem;
  box-shadow: 0 -.1rem .25rem #000;
}